# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente locais
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/
.coverage

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/
